body {
  overflow: hidden;
  background-color: #1e1e1e;
}

#player {
  width: 50px;
  height: 50px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: lightblue;
  transition: transform 0.3s, left 0.2s ease;
}

#container {
  width: 500px;
  height: 200px;
  background-color: #fff;
  position: relative;
  border: dotted;
}

#player img {
  width: 100%;
  height: 100%;
}
